/* reset */

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* /reset */

body{
    font-family: 'Roboto', sans-serif;
    color: #787878;
    background-color: #1B2473;
}

/* main */

.main{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 26px 45px;
}
@media screen and (min-width: 768px){
    input{
        font-size: 28px;
    }
    .main{
        height: 100%;
    }
    .form{
        width: 600px;
        min-height: 412px;
    }
    .form input{
        min-width: 509px;
    }
}
@media screen and (max-width: 768px){
    input{
        font-size: 14px;
    }
    .main{
        height: 100%;
    }
    .form{
        width: 100%;
        height: 100%;
    }
    .form input{
        width: 100%;
    }
}

.form input{
    flex: 1 auto;
    height: 49px;
    border-radius: 10px;
    border: 2px solid #787878;
    padding: 7px 15px;
}

.form__email input::placeholder{
    font-weight: 700;
}

.form__pass input::placeholder{
    color: #CCCCCC;
}

.form label{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 3px 5px;
}

.form div{
    width: 100%;
    display: flex;
    margin-bottom: 32px;
}

.form h1{
    font-size: 50px;
    margin-bottom: 36px;
    align-self: center;
}

.form__email,.form__pass{
    flex-direction: column;
}

.form__email label,.form__pass label{
    align-self: flex-start;
}

.form__checkbox-hiden{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.form__checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
    min-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border: 2px solid #787878;
    border-radius: 7px;
}

.form__checkbox:after{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    content: "✓";
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.form__checkbox-hiden:checked + .form__checkbox:after{
    visibility: visible;
    opacity: 1;
}

.form__acept{
    font-size: 14px;
    margin-left: 10px;
    line-height: 24px;
}

.form button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    padding: 18px 55px;
    width: 180px;
    height: 52px;
    background: #1A226B;
    border-radius: 10px;
    color: #fff;
}

/* /main */